<div class="container">
    <div class="panel-heading" >{{pageTitle}}</div>
    <div class="row">
        <div class="col-md-12  fa-adn">
            <table class="table" >
                <thead>
                    <tr>
                        <th>name</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ='let car of category'>

                        <td> {{car.name}}</td>
                        <td> {{car.description}}</td>
                    </tr>
                </tbody>

            </table>
          
         </div>
    </div>
</div>