<div class="container">
    <div class="panel-heading" >{{pageTitle}}</div>
    <div class="row">
        <div class="col-md-12  fa-adn">
            <table class="table" >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ='let cat of _category'>
                        <td> {{cat.ID}}</td>
                        <td> {{cat.Name}}</td>
                        <td> {{cat.Description}}</td>
                    </tr>
                </tbody>

            </table>
         </div>
    </div>
</div>